<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Preview</title>

    <link rel="stylesheet" href="<%= assets['vmarkdown-preview'].css %>">

    <style type="text/css" media="screen">

        html, body{
            margin: 0;
            padding: 0;
        }

        #preview {
        }

        #print {
            position: fixed;
            top: 20px;
            left: 20px;
            width: 30px;
            height: 30px;
            background-color: #6c71c4;
            cursor: pointer;
        }

        #preview .preview-wrap{
            padding: 40px 40px 100vh 40px;

        }

        body {
            padding-right: 30px;
            padding-left: 30px;
        }
    </style>

    <script src="<%= assets['vmarkdown-render'] %>"></script>
    <script src="<%= assets['vmarkdown-preview-vendors'].js %>"></script>
    <script src="<%= assets['vmarkdown-preview'].js %>"></script>

</head>
<body>

<div id="app"></div>

<!--<div id="print"></div>-->
<!--<div id="preview">-->
    <!--<div class="preview-wrap">-->
        <!--<div id="app"></div>-->
    <!--</div>-->
<!--</div>-->

</body>
</html>
