<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editor</title>

    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css">-->

    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>-->
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>-->

    <!-- vue -->
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>-->

    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0-alpha/katex.min.css">-->
<!---->
    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">-->
    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">-->


    <link rel="stylesheet" href="vmarkdown-preview.05923478efe83087d8e8.min.css">
    <script src="vmarkdown-preview-vendors.05923478efe83087d8e8.min.js"></script>
    <script src="vmarkdown-preview.05923478efe83087d8e8.min.js"></script>


    <style type="text/css" media="screen">

        html, body{
            margin: 0;
            padding: 0;
        }

        #preview {
            padding: 40px;
        }

        #print {
            position: fixed;
            top: 20px;
            left: 20px;
            width: 30px;
            height: 30px;
            background-color: #6c71c4;
            cursor: pointer;
        }
    </style>

</head>
<body>

<script>
    (function () {
        try {
            window.__plugins__ =  <%= plugins %>;
        }
        catch (e) {
            console.error(e);
        }
    })();
</script>

<!--<div id="print"></div>-->
<div id="preview"><div id="app"></div></div>

</body>
</html>
