<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>xin markdown editor</title>
    <script>
        var __assets__ = '{%assets%}';
    </script>
</head>
<body>

<!--<div class="base-line"></div>-->
<iframe id="editor" class="panel" frameborder="0"></iframe>
<!--<div class="split-line"></div>-->
<iframe id="preview" class="panel" frameborder="0"></iframe>


<!-- vue -->
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>

<!-- common start -->
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore.js"></script>
<!-- common end -->

<!-- katex -->
<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0-alpha/katex.min.js"></script>

<!-- lowlight -->
<script src="lowlight.js"></script>

<!-- g2 -->
<script src="//gw.alipayobjects.com/os/antv/pkg/_antv.g2-3.3.1/dist/g2.min.js"></script>
<script src="//gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
<script>G2.track(false);</script>

<!-- flowchart -->
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flowchart/1.11.0/flowchart.js"></script>

<!-- sequence -->

<!-- mermaid -->
<script src="//cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>

<!-- vmarkdown -->
<!--<script src="vmarkdown.js"></script>-->




<% if(production){ %>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?4541251b6af03bc203fd47f1d8a74f70";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<% } %>

</body>
</html>